ultralytics
#python=3.11.14
pycocotools==2.0.6
lpips
ptflops
tensorboard
#numpy==1.26.4
numpy==2.2.6

wandb
basicsr-fixed==1.4.2
torchvision==0.24.1+cu130
torch==2.9.1+cu130
pandas==2.1.3 
matplotlib==3.8.2 
pyyaml==6.0.1 
dotmap
tqdm
einops
openpyxl
scikit-learn
scipy
kornia
plotly
umap-learn