yolo*.pt
/*.png
output/
__pycache__/
dataset/
dataset_attention/
unbalanced_dataset/
unbalanced_dataset_sr/
balanced_dataset/
balanced_dataset_sr/
balanced_dataset_coco2017/
feature_extracted/
wandb/
checkpoints/*/*
!checkpoints/*/best_model.pt
!checkpoints/*/test_predictions.json
prediction_results
videos/
draw/
patch_test.py
detect_patch.py
dds_test.py
ddsrn_test.py
test.py
/*.jpg